#menu__toggle {
    opacity: 0;
  }
  
  .menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
  }
  .menu__btn > span{
    background-color: #e7585c;
  }
  .menu__btn > span::before {
    background-color: #3ec87f;
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    background-color: #2eafe7;
    content: '';
    top: 8px;
  }
  .menu__box {
    position: relative;
    z-index: 2;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    background-color: #e7585c;
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    background-color: #e7585c;
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
  .greenm:hover{
    background: #8DD2AD;
  }
  .bluem:hover{
    background: #7DCEF1;
  }
  .yellowm:hover{
    background: #F1E57D;
  }
  .redm:hover{
    background: #F3A4A7;
  }
  .hamburger-menu{
    display: none;
}
  @media screen and (max-width:580px)  {
    .link, .language{
        display: none
    }
    .hamburger-menu{
        display: block;
    }

}
@media screen and (min-width:581px) and (max-width:800px) {
    .link, .language{
        display: none
    }
    .hamburger-menu{
        display: block;
    }
}